#
# .gitconfig
# https://git-scm.com/docs/git-config
#
[user]
    name = Takuma Watanabe
    email = takumaw@sfo.kuramae.ne.jp
    signingKey = 0CC49C7EF2A82A0BA7424758A6B2264573065648
[core]
    excludesFile = ~/.gitignore_global
    precomposeUnicode = true
[init]
    defaultBranch = main
[commit]
    gpgSign = true
[tag]
    gpgSign = true
[transfer]
    fsckObjects = true
[fetch]
    prune = true
    pruneTags = true
    parallel = 0
[pull]
    rebase = true
[rebase]
    autoStash = true
    updateRefs = true
[push]
    autoSetupRemote = true
    default = simple
    followTags = true
[status]
    branch = true
    showStash = true
    showUntrackedFiles = all
[log]
    date = iso
[diff]
    mnemonicPrefix = true
    algorithm = histogram
[merge]
    conflictStyle = zdiff3
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
